/node_modules
/public/build
/public/hot
/storage/*.key
/vendor
.env
.env.*
!.env.example
.git
.github
*.md
phpunit.xml
.phpunit.result.cache
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.DS_Store
